{% extends 'base.html' %} {% block title %}{{ user.full_name }}{% endblock %} {%
block content %}
<div class="container_column">
  <div>
    {% if user.img_url %}
    <img src="{{ user.img_url }}" alt="{{ user.full_name }}" id="user_icon" />
    {% endif %}
  </div>

  <div class="container_column">
    <h1>{{ user.full_name }}</h1>
    <form>
      <button class="save_button" formaction="/users/{{ user.id }}/edit">
        Edit User
      </button>
      <button
        class="cancel_delete_button"
        formaction="/users/{{ user.id }}/delete"
        formmethod="POST"
      >
        Delete User
      </button>
    </form>
  </div>
  <div class="container_column">
    <form>
      <h2>Posts</h2>
      {% if user.posts %}
      <ul>
        {% for post in user.posts %}
        <li>
          <a href="/posts/{{ post.id }}">{{ post.title }}</a>
          <p class="post_date">{{ post.friendly_date }}</p>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <button class="save_button" formaction="/users/{{ user.id }}/posts/new">
        Add Post
      </button>
    </form>
  </div>
</div>
{%endblock %}
